<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Confirmation</title>
</head>

<body>
	<h1>Confirmation</h1>

	<%- numEmails %> emails sent to <%- destination %><br>
    

	<h2>Past 5 Most Recent Victims (All Time)</h2>
	<%- victimList %>
	<a href="/home">HOME</a>
</body>

</html>