<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Confirmation</title>
</head>

<body>
	<h1>Confirmation</h1>

	<%- numEmails %> sent to <%- destination %><br>
    <a href="/home">HOME</a>
</body>

</html>